@import "tailwindcss";
@import "tw-animate-css";
@plugin "tailwind-clamp";

:root {
  --container-inset: max(1.5rem, calc((100vw - 2560px) / 2 + 1.5rem));
}

/*
* Next.js has a subtle bug where saving changes to the stylesheet
* doesn't always trigger a change in the preview; if you update the
* file *again*, though, it _does_ work, so this block is used to append
* additional, useless changes in order to get Next.js to pick up the new
* styles.
*/
.useless {
  padding: 1rem;
}

@theme {
  /* SHARKFIN */
  --color-seafoam: #e8f2f7;
  --color-spray: #c8dee9;
  --color-shallows: #92bbce;
  --color-surf: #5596b2;
  --color-tide: #1d7598;
  --color-sharkfin: #005279;
  --color-fathom: #00425f;
  --color-trench: #003047;
  --color-abyss: #001e2e;
  --color-leviathan: #000f18;

  /* ACCENT */
  --color-accent: var(--color-sharkfin);
  --color-accent-foreground: var(--color-seafoam);

  --color-accent-50: var(--color-seafoam);
  --color-accent-100: var(--color-spray);
  --color-accent-200: var(--color-shallows);
  --color-accent-300: var(--color-surf);
  --color-accent-400: var(--color-tide);
  --color-accent-500: var(--color-sharkfin);
  --color-accent-600: var(--color-fathom);
  --color-accent-700: var(--color-trench);
  --color-accent-800: var(--color-abyss);
  --color-accent-900: var(--color-leviathan);
  --color-accent-950: var(--color-leviathan);

  /*--color-background: #eae9e8;*/
  --color-background: #fcf9f7;
  --color-foreground: #171717;

  /* ///////// */

  --font-zalando: var(--font-zalando);
  --font-bangers: var(--font-bangers);
  --font-bricolage-grotesque: var(--font-bricolage-grotesque);
  --font-chewy: var(--font-chewy);
  --font-chicle: var(--font-chicle);
  --font-dm-sans: var(--font-dm-sans);
  --font-dynapuff: var(--font-dynapuff);
  --font-inter: var(--font-inter);
  --font-google-sans-code: var(--font-google-sans-code);
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --font-knewave: var(--font-knewave);
  --font-outfit: var(--font-outfit);
  --font-plus-jakarta-sans: var(--font-plus-jakarta-sans);
  --font-league-gothic: var(--font-league-gothic);
  --font-zalando-expanded: var(--font-zalando-expanded);
  --font-zalando-semi-expanded: var(--font-zalando-semi-expanded);
  --font-geist: var(--font-geist);
  --font-geist-mono: var(--font-geist-mono);

  --font-sans: var(--font-zalando);
  --font-mono: var(--font-jetbrains-mono);

  --glass-gradient: linear-gradient(
    180deg,
    #fff9,
    #ffffff96 25%,
    #fff9 50%,
    #ffffffd6 75%
  );

  /* Typography */
  --clamp-heading: 4rem, 10rem;
  --font-size-heading: var(--clamp-heading);
  --text-heading: var(--clamp-heading);

  --clamp-subheading: 1rem, 1.75rem;
  --font-size-subheading: var(--clamp-subheading);
  --text-subheading: var(--clamp-subheading);

  /* Easing */
  --ease-snap-to-silk: cubic-bezier(0.31, 0.72, 0.35, 1);
  --ease-catapult: cubic-bezier(0.6, 0, 0, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-material: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-material-decelerate: cubic-bezier(0, 0, 0.2, 1);
  --ease-accelerate: cubic-bezier(0.4, 0, 1, 1);

  --gutter: 1.5rem;
}

/*@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: #171717;
    --color-foreground: #eae9e8;
  }
}*/

body {
  background: #171717;
  color: var(--color-foreground);
  /*font-family: "Zalando Sans", sans-serif;*/
  font-family: ui-sans-serif, system-ui, "Zalando Sans", "Inter", sans-serif;
}

@utility page-container {
  width: 100%;
  max-width: 2560px;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

@utility inset-container-left {
  left: max(var(--gutter), calc((100vw - 2560px) / 2 + var(--gutter)));
}

@utility inset-container-right {
  right: max(var(--gutter), calc((100vw - 2560px) / 2 + var(--gutter)));
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }

  .font-outline-4 {
    -webkit-text-stroke: 4px var(--foreground);
  }
}

::selection {
  background: var(--color-shallows);
  color: black;
}

.glass-button-bg {
  background-image: var(--glass-gradient);
  background-position: 50% 0;
  background-size: 300% 300%;
  transition: background-position 0.5s;
  position: absolute;
  inset: 0;
}

.glass-button-shadow {
  box-shadow:
    0 12px 12px 2px var(--tw-shadow-color, #0000001a),
    0 2px 4px -1px var(--tw-shadow-color, #0000000f);
}

.glass-border-3xl::before {
  content: "";
  border-radius: var(--radius-3xl);
  pointer-events: none;
  background: linear-gradient(#ffffffa3 40%, #fff0 75% 95%, #ffffffa3);
  padding: 1px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  inset: 0;
  -webkit-mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
  mask-image: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
  -webkit-mask-position:
    0 0,
    0 0;
  mask-position:
    0 0,
    0 0;
  -webkit-mask-size: auto, auto;
  mask-size: auto, auto;
  -webkit-mask-repeat: repeat, repeat;
  mask-repeat: repeat, repeat;
  -webkit-mask-clip: content-box, border-box;
  mask-clip: content-box, border-box;
  -webkit-mask-origin: content-box, border-box;
  mask-origin: content-box, border-box;
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-source-type: auto, auto;
  mask-mode: match-source, match-source;
}
